.Row
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    margin: 0 auto;
}
.Column
{
    display: table-cell;
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}
