

.rndytrng {
  font-family: 'Abel', sans-serif;
  font-size: 75px;
  color: white;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.rndytrng span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
  width: 100%;

}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}