
.item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
@media(max-width:1000px){
.item{margin:0; transform:scale(.9)}
}

.active .item{
  opacity:1;
  transform:scale(1);
} 

body{
  padding:0;
  margin:80px 0 0 0;
  font-family:Merriweather;
  background: black;
}

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}


.black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
.black .inner a:hover{border-color:#000;}

/*
.owl-carousel:after{content:""; display:block; position:absolute; width:8%; top:0; bottom:0; left:50%; margin-left:-4%; pointer-events: none; background:url(img/lifelogo.png) no-repeat center 50%; background-size:100% auto;
}
*/

.owl-controls{position:absolute; margin-top:300px;
	display: none;}
