

@font-face {
    font-family: "tt_chocolatesbold";
    src: url("styles/fonts/ttchocolates-bold-webfont.eot");
    src: url("styles/fonts/ttchocolates-bold-webfont.woff") format("woff"),
    url("styles/fonts/TTChocolates-Bold.otf") format("opentype"),
    url("styles/fonts/ttchocolates-bold-webfont.woff2") format("woff2"),
    url("styles/fonts/ttchocolates-bold-webfont.ttf") format("ttf"),
    url("styles/fonts/ttchocolates-bold-webfont.svg#filename") format("svg");
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: "tt_chocolatesregular";
    src: url("styles/fonts/ttchocolates-regular-webfont.eot");
    src: url("styles/fonts/ttchocolates-regular-webfont.woff") format("woff"),
    url("styles/fonts/TTChocolates-Regular.otf") format("opentype"),
    url("styles/fonts/ttchocolates-regular-webfont.woff2") format("woff2"),
    url("styles/fonts/ttchocolates-regular-webfont.ttf") format("ttf"),
    url("styles/fonts/ttchocolates-regular-webfont.svg#filename") format("svg");
    font-weight: normal;
    font-style: normal;

}