/*
body {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;


}
*/

/*

header {
	color: white;
	padding: 30px 0px 5px 0px;
	text-align: center;
}

*/


.row {

	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	align-items: center;
	justify-content: center;
	max-width: 1080px;
	margin: 0 auto;

	
/*	left: 0;
	top: 50%;
	width: 100%; */
}

/*
.main-container {
	float: left;
	position: relative;
	left: 50%;
}


.fixer-container {

}
*/

.container {


	/*flex-direction: column;
	width: 100%;
	text-align: center;
	margin: 10% 0;
	min-height: 200px;
	align-items: center;*/
}


.col {

	flex: 25%;
	max-width: 10%;
	padding: 10px;
}

.col img {


	vertical-align: middle;
}
/*
#carousel-wrapper {
	margin: 0 10% 0 10%;
}
*/

/*

.owl-carousel .owl-wrapper {
	display: flex !important;

}
.owl-carousel .owl-item img {
	max-width: 100%;
	max-height: auto;
	object-fit: cover;

}

#wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}



.button {
	left: 0;
	bottom: 0;
	background-color: black;
	border: none;
	color: white;
	padding: 10px 20px;
	margin-bottom: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	/*
	font-family: 'Work Sans';
	
	font-family: 'Abel','Work Sans';
	
	cursor: pointer;
}
*/
/*
footer {
	clear: both;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	/*
	font-family: 'Work Sans';
	
	font-family: 'Abel','Work Sans';
	font-weight: bold;

}

.footer1 {
	font-size: 13px;

}
.footer2 {
	font-size: 10px;
}
*/
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 640px) {
  .col {
    flex: 50%;
    max-width: 45%;
  }
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .col {
    flex: 20%;
    max-width: 10%;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*
@media screen and (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
*/

/*

@media only screen and (max-width: 640px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
	.owl-carousel {
		padding-left: 10px;
		padding-right: 10px;
	}
	.col {
		/*
		margin: 2.25%;
		margin: 0 auto;
		
		margin: 2%;

		width: 40%;
	}
	/*
	.row {

		padding-left: 5px;

	}

}

@media only screen and (orientation: landscape) {
	.col {

		margin: 1%;

		width: 10%;
	}
}

@media only screen and (orientation: portrait) {
	.col {
		/*
		margin: 2.25%;
		
		margin: 2%;

		width: 45%;
	}
}

*/
/*
.fa {
	cursor: pointer;
	text-align: center;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 30px 3px 30px 3px;
}

.fa:hover {
	color: rgba(50,50,50,.6);
}
*/