body {
  /*
  background-image: url("img/background1.jpg");
  */

  background-size: 100%;
  background-position: center;
  font-family: 'Source Code Pro', 'Abel', sans-serif;
  background-color: #161616;
  transition: all .5s ease;
}



.landing-main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 300px;
  left: 0px;

}

.main-menu a {
  transition: 0.3s;
}


.landing-item {

  opacity: 0.70;

  font-family: 'Source Code Pro', 'Abel', sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  padding: 4px 8.5px 4px 8.5px;
}

#visual {
  color: #f5e9b0;
}

.introduction-caption {
  position: relative;
  top: 650px;
  color: white;
  opacity: 0.8;
  font-family: 'Abel', 'Source Code Pro', sans-serif;
  font-size: 7.5px;

}

.landing-above {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 280px;
  left: 0px;
}

.landing-below {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 400px;
  left: 0px;

}

.main-menu {
  width: 100%;
  height: 100%;
}

/*
.landing-left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 375px;
  left: -115px;

  /*top: 57.5%;
}

.landing-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 375px;
  left: 145px;

  /*top: 40.5%;
}
*/




.logo {
  opacity: 0.85;
  /*animation: pulse 3s infinite alternate;*/


  font-family: 'Abel', 'Source Code Pro', sans-serif;
  font-size: 50px;
  letter-spacing: 1.5px;
  padding: 3px 8.5px 3px 8.5px;
  border-style: solid;
  border-width: 4px;
  border-color: white;
}
/*
@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }

}

.logo:hover {
  animation-play-state: paused;
}
*/

.logo:hover, .landing-item:hover {
  opacity: 0.95;
}


}

.menu-item:hover {
  opacity: 0.6;
}



a:link, a:visited {
  text-decoration: none;
  color: white;

}



.menu {
  padding: 0px;
  margin: 0px;
}

.menu ul {

  background: white;
  height: 0;

  visibility: hidden;
  position: absolute;
  transition: all .2s ease;
  top: 35px;

  padding: 7px;



}

.menu li {
  text-align: center;
  letter-spacing: 1.5px;


}

.menu li:hover ul {
  visibility: visible;
  height: 100px;

  transform: translateY(0);
}

.menu li:hover #visual {
  opacity: 0.95;
}

.menu ul a {
  color: #161616;
  display: block;

}

.menu ul a:hover {
  opacity: 0.6;
}

.menu-item {
  margin: 10px;

}



ul {
  list-style-type: none;
}




footer {
  clear: both;
  left: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  /*
  font-family: 'Work Sans';
  */
  font-family: 'Abel','Source Code Pro';
  font-weight: bold;

}

.fa {
  cursor: pointer;

  font-size: 18px;
  width: 30px;
  text-align: center;
  text-decoration: none;

  color: white;
  opacity: .75;
}

.fa:hover {
  opacity: 1;
}

@media screen and (max-width: 640px) {
  .landing-main {
    top: 180px;
  }
  .landing-below {
    top: 280px;
  }
  .introduction-caption {
    top: 530px;
  }
}

