body {
  /*
  background-image: url("img/background1.jpg");
  */

  background-size: 100%;
  background-position: center;
  font-family: 'Source Code Pro', 'Abel', sans-serif;
  background-color: black;
}



header {
  white-space: nowrap;
  text-align: center;
  margin: 40px 0 20px 0;
  color: white;
  font-size: 14px;
  line-height: 30px;
  

}

#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.name {
  text-align: center;
  display: inline-block;
  margin: 40% auto;
  z-index: 10;

}




.logo {
  opacity: 0.9;
}

.logo:hover {
  opacity: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}



.left a:hover, .right a:hover {
  opacity: 1;
}



a:link, a:visited {
  text-decoration: none;
  color: white;

}





.el1, .el2, .el3, .el4 {
  margin: 0 8px 0 8px;
  vertical-align: middle;
  opacity: 0.6;
  position: relative;
  width: 20%;
  box-sizing: border-box;

}


.test-wrapper {
  width: 55%;
  margin: 0 auto;

}



.very-specific-design {

  max-width: 1080px;
  margin: 0 auto;

}




.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.dropdown-content {

  display: none;
  position: absolute;
  top: 8.5%;
  margin: 0 0 0 -9px;
  background-color: #f9f9f9;

  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 4px 25px;
  text-decoration: none;
  font-size: 11px;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.show {display: block;}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.button {
  left: 0;
  bottom: 0;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /*
  font-family: 'Work Sans';
  
  font-family: 'Abel','Source Code Pro';
  
  cursor: pointer;
}
*/


footer {
  clear: both;
  left: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  /*
  font-family: 'Work Sans';
  */
  font-family: 'Abel','Source Code Pro';
  font-weight: bold;

}

.footer1 {
  font-size: 13px;
  color: white;
  opacity: .9;

}
.footer2 {
  font-size: 10px;
  color: #333;
}

.fa {
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 30px 3px 30px 3px;
  color: white;
  opacity: .75;
}

.fa:hover {
  opacity: 1;
}


.container {
  display: none;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  width: 30%;

}

.bars {
  position: absolute;
  margin: -62px 20px 9px 9px;
  font-size: 23px;
  display: none;
  color: white;
  opacity: 1;
}



.overlay-logo img {
  position: relative;
  display: block;
  margin: 0 auto;

  width: 15%;
  z-index: 30;
}



@media screen and (max-width: 800px) {
  .bars {
    display: block;
  }

  .name {
    margin: 55% auto;
  }

  .left, .right {
    display: none;
  }
  .dropdown-content {
    top: 10%;

}


}

