
.scaleable-wrapper {
  padding: 20px;
  resize: both;
  position: relative;
  background: #1000;
  height: 400px;
}

.ui-resizable-se {
  width: 10px;
  height: 10px;
  background: orange;
  position: absolute;
  bottom: 0;
  right: 0;
}

.very-specific-design {
  width: 1000px;
  min-width: 960px;
  max-width: 960px;
  height: 600px;
  padding: 50px;
  text-align: center;
  background: white;
  position: relative;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}



/*
.very-specific-design {
  width: 600px;
  height: 400px;
  padding: 50px;
  text-align: center;
  background: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.scaleable-wrapper {
  padding: 20px;
  resize: both;
  position: relative;
  background: #666;
  height: 400px;
}

.ui-resizable-se {
  width: 10px;
  height: 10px;
  background: orange;
  position: absolute;
  bottom: 0;
  right: 0;
}

*/