@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

header {
  line-height: 40px;
  text-align: center;
  padding-top: 10px;
}

body {
  background-color: #161616;
  font-family: 'Source Code Pro', 'Abel', sans-serif;
}

.title-btn {
  color: white;
  font-family: 'Abel', 'Source Code Pro', sans-serif;
  font-size: 30px;
  letter-spacing: 1.5px;
  padding: 2px 5px 2px 5px;

  border-width: 2.1px;
  border-color: white;
}

.home-btn {
  float:right;
  color:white;
  font-family:'Source Code Pro', 'Abel', sans-serif;
  font-size: 18px;
  z-index:2;
  position:fixed;
  top:9px;
  right:10px;
}

.whole-container {
  margin: 15px;
  line-height: 0px;
}

.gallery {
  width: 100%;
  margin: 2rem auto;
  max-width: 980px;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /*grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));*/
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px;
}
.item {
  /*background: grey;*/
  display: flex;
  background-position: center;
  background-size: cover;

}
.item:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(1/2.39 * 100%);
  
}

.item:hover {
  cursor: pointer;
}





@media screen and (max-width: 640px) {

  .grid {
    grid-template-columns: repeat(2, 1fr);

  }
}



/**/

