body {
  background-color: #161616;
}

.whole-container {
  margin: 15px;
  line-height: 0px;
}

.gallery {
  width: 100%;
  margin: 2rem auto;
  max-width: 980px;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /*grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));*/
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px;
}
.item {
  background: grey;
  display: flex;
  background-position: center;
  background-size: cover;

}
.item:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(1/2.39 * 100%);
  
}

.item:hover {
  cursor: pointer;
}

@media screen and (max-width: 640px) {

  .grid {
    grid-template-columns: repeat(2, 1fr);

  }
}


